@model List<CompanyUserConnection>

<h1>Vinculaciones pendientes</h1>
<h5>
    Las siguientes empresas te han invitado para que colabores:
</h5>

<ul>
    @foreach (var vinculacion in Model)
    {
        <form asp-action="Index">
            <li>
                <input type="hidden" name="companyId" value="@vinculacion.CompanyId" />
                <div>
                    La empresa <span class="font-weight-bold">
                        @vinculacion.Company.Name</span> te invita a vincularte.
                </div>
                <div>
                    <button type="submit"
                        asp-route-connectionStatus="@ConnectionStatus.Accept"
                        class="btn btn-primary">Aceptar</button>
                    <button type="submit"
                        asp-route-connectionStatus="@ConnectionStatus.Rejected"
                        class="btn btn-danger">Rechazar</button>
                </div>
            </li>
        </form>
    }
</ul>