@model IndexPermissionsDTO

<h1>Administrar permisos de la empresa: @Model.CompanyName</h1>

<h5>Empleados:</h5>

<ul>
    @foreach (var empleado in Model.Employees)
    {
        <li>
            <div>
                @empleado.Email
            </div>
            <div>
                <a asp-controller="Permissions"
                   asp-action="Manage"
                   asp-route-email="@empleado.Email"
                   class="btn btn-primary">Administrar permisos</a>
            </div>
        </li>
    }
</ul>